<!DOCTYPE html>
<html lang="en">

<head>

  <!-- basic responsive attributes -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Geolocation app built with NestJS and Prisma">
  <meta name="author" content="Denise Case">
  <meta name="theme-color" content="#FFFFFF" />

  <title>
    <%= (typeof title==="undefined" ? "Findit!" : title) %>
  </title>

  <!--
    Get current MD5 CSS:
    
    https://mdbootstrap.com/docs/standard/getting-started/installation/            
    Material Design for Bootstrap fonts and icons 
    preload above for improved performance
     -->

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />


  <!-- Custom styles at the end -->
  <link href='styles/style.css' rel='stylesheet' />

  <!-- Insert favicon link tags from favicon.io -->
  <!-- Unzip favicon files into public/images/ -->

  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <link rel="canonical" href="https://findit-nest.herokuapp.com/" />

</head>

<!--wrap the whole page (header, footer, main) -->

<body class="page-container">

  <!--  Resusable header included in layout.ejs -->
  <!-- See https://mdbootstrap.com/docs/standard/navigation/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-2">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand" href="/">Findit!</a>

      <!-- Left links -->
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="./locations">Locations</a> </li>
        <li class="nav-item"> <a class="nav-link" href="./api">API</a> </li>
      </ul>

    </div> <!-- Container wrapper -->
  </nav><!-- Navbar -->

  <main class="container context mt-5">
    <div class="row">
      <div class="col "></div>

      <!-- core page here-->

      <br>
      <br>

      <div id="both" class="d-flex flex-column align-items-stretch">


        <!--
*  Location create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new resource.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->


        <% if (location ) { %>
          <% if (location.error ) { %>
            <div class="alert alert-danger" role="alert">
              <%- JSON.stringify(location.error) %>
            </div>
            <% } %>
              <% } %>

                <div class="card">
                  <div class="card-header">
                    Add Location
                  </div>
                  <div class="card-body">
                    <form action="save" method="post">

                      <div class="form-group">
                        <label for="name">Location name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= location.name %>"
                          autocomplete="off">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">North (latitude from -90 to 90) </label>
                        <input type="number" class="form-control" id="north" name="north" min="-90.000" max="90.000"
                          step="0.000001" value="<%= location.north %>" autocomplete="off">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">West (longitude from -180 to 180) </label>
                        <input type="number" class="form-control" id="west" name="west" min="-180.000" max="180.000"
                          step="0.000001" value="<%= location.west %>" autocomplete="off">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">South (latitude from -90 to 90) </label>
                        <input type="number" class="form-control" id="south" name="south" min="-90.000" max="90.000"
                          step="0.000001" value="<%= location.south %>" autocomplete="off">
                      </div>
                      <br>

                      <div class="form-group">
                        <label for="name">East (longitude from -180 to 180) </label>
                        <input type="number" class="form-control" id="east" name="east" min="-180.000" max="180.000"
                          step="0.000001" value="<%= location.east %>" autocomplete="off">
                      </div>
                      <br>

                      <p class="mb-1">
                        <a class="btn btn-light edit" href="./locations">Cancel</a>
                      </p>
                      <br> 

                  
                      <div class="form-group">
                        <input type="submit" class="btn btn-info" 
                        title="Submits POST ./locations/save request to save new with create dto" value="Create" />
                      </div>
                    </form>
                  </div>
                </div>


      </div>

      <!-- end core page here-->

    </div>
    </div>
  </main>

  <br>
  <br>

  <!--  Resusable footer included in layout.ejs -->

  <footer class="footer fixed-bottom bg-light mx-0 py-3 text-center">

    <a target="_blank" rel="noopener" href="https://findit-nest.herokuapp.com/">FindIt!</a>
    &nbsp; &#9670; &nbsp;

    <a class="btn btn-light btn-sm" href="https://github.com/denisecase/findit" target="_blank" rel="noopener"
      role="button">

      <i class="fas fa-star"></i>
      GitHub
      <i class="fab fa-github ml-1"></i></a>

  </footer>

  <!-- Console error onloading -->
  <!-- see https://developer.chrome.com/extensions/contentSecurityPolicy -->

  <!--
    Get current MD5 JS:
    
    https://mdbootstrap.com/docs/standard/getting-started/installation/            
    Material Design for Bootstrap fonts and icons 
    preload above for improved performance
     -->

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>

  <!-- Custom JS -->
  <!-- Add module if appropriate -->
  <script type="module" src="scripts/main.js"></script>

</body>

</html>